*.sw?
*.o
*.lo
*.a
*.so
*.dis
*.asm
*.dump
*.i
tmp_*
log
jit*.log
mk*.log
bld*.log
asmfmt.log
asmkern.bin
asmkern1.bin
jitve0
jitve_hello
jitve_math
jitpp_hello
msk
msk.S
msk.i
msk.log
sys_tmp.S
sys_tmp.bin
syscall_hello
syscall_hello.log
syscall_hello.s
test_strMconst
test_strMconst.log
