*.sw?
vejit
*.o
*.lo
*.a
*.so
*.dis
*.asm
*.dump
*.i
tmp_*
log
jit*.log
mk*.log
bld*.log
vejit.tar.gz
asmfmt.log
asmkern.bin
asmkern1.bin
jitve0
jitve_hello
jitve_math
jitpp_hello
asmfmt
msk
msk.S
msk.i
msk.log
sys_tmp.S
sys_tmp.bin
syscall_hello
syscall_hello.log
syscall_hello.s
test_strMconst
test_strMconst.log
tmp.??????????
test_naspipe
test_naspipe.log
test_vejitpage_sh
test_vejitpage_sh.log
jitpp_loadreg
veli_loadreg-x86
test_naspipe-x86
test_naspipe-x86.log
test_vejitpage_sh-x86
test_vejitpage_sh-x86.log
veli_loadreg
veli_loadreg-8x6
veli_loadreg.log
vl-*.log
asmfmt-x86
dltest0
dltest1
dltest1-x86
dltest1-clang
dltest1-nclang
dltest0-x86
dltest0.log
dltest1.log
asmfmt-ve
asmfmt-ve.log
cblock
dllbuild-x86
ftostring
dltest1link
dllbuild-ve
bin_mk.c
dllok0 dllok2 dllok3 dllok4
dllvebug1 dllvebug2
dllvebug10
dlprt-ve
dlprt-x86
dlprt*.log
bug-ve
bug-x86
bug-pic-ve
bug
a.out
bug0.cpp
empty.cpp
hdrs.cpp
hdrs0.c
hdrs0.cpp
hdrs0.nm
hdrs1.c
hdrs1.cpp
hdrs2.c
hdrs2.cpp
libvehdrs*.so
dllok[0-9]
dllbuild.veb
dllbuild.x86b
dllvebug[0-9]
dllbuild-veb
dllbuild-x86b
[a-z].log
x.log
mk.log
**mk*.log
**x.log
dllbuild-ve
dllbuild-veb
dllbuild-x86
dllbuild-x86b
dllok0
dllok2
dllok3
dllok4
dltest0
dltest0-x86
dllvebug1
dllvebug10
dllvebug2
dltest1
dltest1-clang
dltest1-nclang
dltest1-x86
dltest1link
libclang_lucky.so
libgcc_lucky.so
libncc_lucky.so
bug
bug-pic-ve
bug-ve
bug-x86
cblock
*.diff
test_*-x86
bug0 bug1 bug2
nld.help
nobjcopy.info objcopy.info
nld.help nobjcopy.help
asmblock-ve asmblock-ve.lo asmblock-ve.o asmblock-x86 asmblock-x86.lo asmblock-x86.o
cblock-ve cblock-ve.lo cblock-ve.o cblock-x86 cblock-x86.lo cblock-x86.o
