fuse2
fuse2lin
mega1-sample.log
[a-z].log
cblock
cfuse
fuse3
fuse3-ve
[a-z].cpp
[a-z].c
[a-z]-gc++.S
[a-z]-clang.S
[a-z]-gcc.S
[a-z]-ncc.S
[a-z]-ve.S
cfuse2
tdivmod-ve
tdivmod
tdivmod-ve.s
tdivmod.s
cfuse2*.log
cf3
cf
cfu
cf2
cf*.log
tmp*-vi
tmp*-vi.c
tmp*-vi.s
cf*-vi.c
cf3-ve
cf4
a-ve
tmpcf4*
