*.o
*.exe
*.vg
.*.sw?
mk.log
testSymbStates
testSpill
testSymScopeUid
testSpill2
testSpill3
testRegSym
testRegBase
testSymbStates
prt_regnames
testSpill-old
testSymbStates-old
a.out
html
testScopedSpill0
tSpill2
tSpill2b
testRegSym2
