*.o
*.bld
*.exe
*.vg
.*.sw?
mk.log
oldRegSym
oldSpill2
oldSpill3
testSymbStates
testSpill
testSymScopeUid
testSpill2
testSpill3
testRegSym
testRegBase
testSymbStates
prt_regnames
testSpill-old
testSymbStates-old
a.out
html
testScopedSpill0
tSpill2
tSpill2b
testRegSym2
s2r
